<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <form (submit)="onSubmit()" #formDoc="ngForm">
                   
                <div class="progress form-group" *ngIf="progress > 0">
                  <div class="progress-bar bg-info progress-bar-striped progress-bar-animated " aria-valuemin="0" aria-valuemax="100" role="progressbar" [style.width]="progress + '%'"></div>
                </div> 
               
              <div class="form-group">
                <!-- Categoria-->
                <label for="categoria" class="col-sm-2 control-label">Categoria : </label>
                <div class="col-sm-8">
                  <select class="form-control" name="categoria" [(ngModel)]="model.categoria" required>
                    <option *ngFor="let item of categorias" [value]="item.categoria" name="categoria">
                      {{item.categoria}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <!--titulo-->
                <label for="titulo" class="col-sm-2 control-label">Titulo : </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="model.titulo" name="titulo" value="model.titulo">
                </div>
              </div>
              <div class="form-group">
                <!-- Autor-->
                <label for="autor" class="col-sm-2 control-label">Autor : </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="model.autor" name="autor">
                </div>
              </div>
              <div class="form-group">
                <!-- Fecha -->
                <label for="fecha" class="col-sm-2 control-label">Fecha : </label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" [(ngModel)]="model.fecha" name="fecha">
                </div>
              </div>
              <div class="form-group">
                <!-- Texto-->
                <label for="texto" class="col-sm-2 control-label">Texto : </label>
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                  <textarea class="form-control" id="texto" [(ngModel)]="model.texto" name="texto"
                    placeholder="Ingrese texto." rows="7"></textarea>
                </div>
              </div>
              <div class="form-group">
                <!-- Imagen -->
                <label for="imagen" class="col-sm-2 control-label">Imagen : </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="model.imagen" name="imagen">
                </div>
              </div>
              <div class="form-group">
                <!-- Estado -->
                <label for="estado" class="col-sm-2 control-label">Estado : </label>
                <div class="col-sm-8">
                  <input type="checkbox" lass="form-control" [(ngModel)]="model.estado" name="estado" value="true"
                    checked />
                  <!-- <input type="text" class="form-control" [(ngModel)]="model.estado" name="estado"> -->
                </div>
              </div>
              <div class="form-group">
                <!-- Tags -->
                <label for="tags" class="col-sm-2 control-label">Tags : </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="model.tags" name="tags"
                    placeholder="Agregar Tags separados por ',' comas.">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                  <button type="submit" class="btn btn-success">Guardar</button>
                  <a class="btn btn-info" (click)="goBack()">Cancel</a>
                </div>
              </div>
            </form>
<!-- //////////////////////////////////////  -->

     
     
          </div>
        </div>
      </div>
    </div>
  </div>
</div>