<header id="header2" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">

  
      <a href="index.html"><img src="./assets/img/logo.png" alt="" class="img-fluid"></a>
      <h1 class="text-light"><a href="index.html">COAME</a></h1>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/control/">Home</a></li>
        <li><a routerLink="/control/add">Add</a></li>
        <li><a routerLink="/control/addblog">AddBlog</a></li>
        <li><a routerLink="/control/list">Listar</a></li>
        <li><a routerLink="/control/mod">Modificar</a></li>
        <li><a routerLink="/control/delet">Borrar</a></li>
      </ul>
    </nav>
  </div>
  
</header>
  <!-- <router-outlet></router-outlet> -->
