	<!-- Page heading -->
	<div class="container p-t-4 p-b-35">
		<h2 class="f1-l-1 cl2">
			About Us
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-110">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<p class="f1-s-11 cl6 p-b-25">
							La afición a la astronomía tiene algo de autodidacta. Aprender astronomía o radioastronomia no es sencillo por lo cual utilizamos las experiencias de otros aficionados. En la web hay una buena cantidad de sitios o blog destinados a estos temas que nos ha ayudado a todos a empezar en esta afición y a aprender cada día un poco más. 
						</p>

						<p class="f1-s-11 cl6 p-b-25">
							Estamos viviendo tiempos convulsos. Entre toda la información que ahora nos llega a diario, cada hora, increíbles descubrimientos científicos, historias personales, enfrentamientos cada vez más polarizados, gente graciosa haciendo vídeos de TikTok, grandes divulgadores haciendo una excelente labor, movimientos sociales que escenifican la complicada e intrincada realidad en la que vivimos, medias verdades, bulos y más bulos, gente que se aprovecha de otra, ruido, temores, esperanzas, tristezas, alegrías... como digo, entre toda esa información, se hace cada vez más difícil encontrar y transmitir conocimiento.
						</p>

						<p class="f1-s-11 cl6 p-b-25">
                            En 2015 comenzó este proyecto de armar un grupo destinado a la astronomía, después de un año montando y desmontando en casa cada noche.

Hay muchas cosas a tener en cuenta al hacerse un observatorio, como la ubicación, los materiales, el tipo de columna, la orientación, el clima, número de noches despejadas, etc.. En mi caso no he tenido muchas opciones, porque las limitaciones eran obvias: tenía que hacérmelo en casa y tenía que ser algo lo más discreto posible, así que nada de cúpulas.

La ubicación final fue una terraza en el segundo piso de la vivienda con orientación suroeste de unos 4 x 3m, y el observatorio tipo Roll-Off Roof.

Una empresa de la zona de carpintería metálica me hizo el proyecto, y tras hacer algunas preparaciones de obra para redirigir las bajantes de agua, montamos toda la estructura.

El siguiente paso, fue pasar la instalación eléctrica para tener tomas de corriente en varios puntos del observatorio. Y a continuación, instalar la columna.

La primera columna la hicimos de obra y es la que se ve más al fondo en las siguientes imágenes. También montamos una estructura de madera para poder elevar el suelo en esa zona y poder usar cómodamente el equipo para hacer planetaria y visual. El año pasado con la intención de tener dos equipos montados y preparados, instalé otra columna, este vez de hierro forjado. En esta columna tengo montado fijo el equipo de astrofotografía de cielo profundo.
						</p>
					</div>
				</div>
            </div>
        </div>
    </section>
