	<!-- Breadcrumb -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<!-- <ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
					<li *ngIf="titulo !== 'Dashboard'" class="breadcrumb-item active">{{titulo}}</li>
					<li *ngIf="titulo === 'Dashboard'" class="breadcrumb-item active"></li>
				  </ol> -->
				    <li class="breadcrumb-item" f1-s-3 cl9><a routerLink="/dashboard">Dashboard</a></li>
					<li *ngIf="titulo !== 'Dashboard'" class="breadcrumb-item f1-s-3 cl9">{{titulo}}</li>
					<li *ngIf="titulo === 'Dashboard'" class="breadcrumb-item f1-s-3 cl9"></li>
				
					<!-- <a href="#" routerLink="/dashboard" class="breadcrumb-item f1-s-3 cl9">
					Dashboard
				</a>
				<a *ngIf="titulo !== 'Principal'" class="breadcrumb-item f1-s-3 cl9">
					{{titulo}}
				</a>
				<a *ngIf="titulo === 'Principal'" class="breadcrumb-item f1-s-3 cl9">
				</a> -->
				<!-- <span class="breadcrumb-item f1-s-3 cl9">
					Entertaiment
				</span> -->
			</div>

			<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div>
		</div>
	</div>